<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>
<body>
    <div id="title">
        <div id="img-box">
            <img id="title-img" src="../static/code.jpg">
        </div>
        <h1>Group 11 demo: Color classification using K-nearest neighbors</h1>
    </div>
    <div id="input">
        <input type="file" id="imageInput">
        <button onclick="uploadImage()">Classify</button>
    </div>
    <div id="result">
        <div id="message"></div>
        <div id="result-box">
            <div id="imageContainer"></div>
        </div>
    </div>

    <script>
        function uploadImage() {
            var input = document.getElementById('imageInput');
            var file = input.files[0];
            var reader = new FileReader();
            var formData = new FormData();
            formData.append('image', file);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/process_image", true);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('message').textContent = response.message;
                }
            };
            xhr.send(formData);

            reader.onload = function(e) {
                var imageContainer = document.getElementById('imageContainer');
                imageContainer.innerHTML = '<img id="result-image" src="' + e.target.result + '" alt="Uploaded Image">';
            };

            reader.readAsDataURL(file);
        }
    </script>
</body>
</html>
